@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
    
}

body{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #c9d6ff;
    background:linear-gradient(to right,#e2e2e2,#c9d6ff);
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  
  }

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 1188px;
}

nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}

nav .nav_logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
nav .nav_menu ul{
    display: flex;
}
nav .nav_menu ul li{
    list-style-type: none;
}
nav .nav_menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.nav_button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    color: black;
}

#registerBtn{
    margin-left: 15px;
}
.btn.login_btn{
    background: rgba(255, 255, 255, 0.7);
}
.btn.login_btn:hover{
    background: rgb(92, 92, 240);
}
.btn.signup_btn {
    background: rgba(255, 255, 255, 0.7);
}

.btn.signup_btn:hover {
    background-color: rgba(255, 255, 255, 0.966);
}

.nav_menu_btn{
    display: none;
}

main{
    background-color: rgba(255, 255, 255, 0.8);
    width:450px;
    padding:24px;
    margin:50px auto;
    border-radius:15px;
}
form{
    margin:0 32px;
}
.form-title{
    font-size:1.5rem;
    font-weight:bold;
    text-align:center;
    padding:20px;
    margin-bottom:6px;
}
input{
    color:inherit;
    width:100%;
    background-color:transparent;
    border:none;
    border-bottom:1px solid #757575;
    padding-left:24px;
    font-size:15px;
}
.input-group{
    padding:1% 0;
    position:relative;

}
.input-group i{
    position:absolute;
    color:black;
}
input:focus{
    background-color: transparent;
    outline:transparent;
    border-bottom:2px solid rgb(30, 144, 255);
}
input::placeholder{
    color:transparent;
}
label{
    color:#757575;
    position:relative;
    left:19px;
    top:-30px;
    cursor:auto;
    transition:0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top:-48px;
    left: 20px;
    color:rgb(30, 144, 255);
    font-size:15px;
    font-size: 13px;
}
.recover{
    text-align:right;
    font-size:16px;
    margin-bottom:1px;

}
.recover a{
    text-decoration:none;
    color:rgb(125,125,235);
}
.recover a:hover{
    color: rgb(39, 39, 240);
}
button{
    font-size:17px;
    padding:8px 0;
    border-radius:5px;
    outline:none;
    border:none;
    width:100%;
    background:rgb(125,125,235);
    color:white;
    cursor:pointer;
    transition:0.9s;
}
button:hover{
    background:#07001f;
}
.or{
    font-size:17px;
    margin-top:8px;
    text-align:center;
}

.links{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    padding:0 50px;
    margin-top:2px;
    font-weight:bold;
    font-size: 13px;
}
 #signUpButton, #signInButton{
    color:rgb(125,125,235);
    border:none;
    background-color:transparent;
    font-size:16px;
    font-weight:bold;
}
#signUpButton:hover, #signInButton:hover {
    color: rgb(92, 92, 240);
    text-decoration: underline;
} 

.messageDiv{
    background-color:rgb(125,125,235);
    color:white;
    padding:10px 20px;
    margin:10px;
    border-radius: 5px;
    font-size:16px;
    opacity:0;
    animation:fadeOut 5s forwards;

}

.nav_button button{
    font-size: 15px;
}
.nav_button .login_btn{
    background-color: rgb(125,125,235);
    color: white;
}

.submit_btn_signIn:hover{
    background: rgb(86, 86, 245);
}

.submit_btn_signIN:hover{
    background: rgb(86, 86, 245);
}
.input-group{
    display: flex;
    flex-direction: column;
}

.img_icons img{
    width: 20px;
}

.img_icons {
    position: absolute;
    top: 0;
    left: -5px;
}
.nav_logo {
    display: flex;
}
.ams_logo{
    position: relative;
    left: 35px;
    width: 100px;

}

#signUpButton, #signInButton {
    width: 70px;
} 